input {
    jmx {
      path => "C:/Users/Carmen/Desktop/ELK/datos/jmx1"
      polling_frequency => 60
      type => "jmx"
      nb_thread => 4
	  add_field => { "server" => "server1"}
    }
}

filter {
  if [type] == "jmx" {
	if [metric_path] in [
    "mx.com.spsolutions.jmxtutorial.Operating_System.ProcessCpuLoad",
    "mx.com.spsolutions.jmxtutorial.Operating_System.SystemCpuLoad"
   ] {
     if [metric_value_number] {
       ruby { 
         code => "event.set('metric_value_number',event.get('metric_value_number') * 100)"
        }
      }
    }
	
    # Convert string metric to numeric value
    if [metric_value_string] {
      mutate {
        convert => [ "metric_value_number", "float" ]
      }
    }
  }
  
  #Filtro mutate
	mutate {
        rename => { "metric_value_string" => "valor_cadena" }
		update => { "valor_cadena" => "Welcome from server 2" }
    }
  
}

output {
  elasticsearch {
    hosts => ["localhost:9200"]
    index => "prueba_script"
  }
  stdout{codec => rubydebug}
}