input {
    jmx {
      path => "C:/Users/Carmen/Desktop/ELK/datos/jmx2"
      polling_frequency => 60
      type => "jmx"
      nb_thread => 4
	  add_field => { "server" => "server2"}
    }
}



output {
  elasticsearch {
    hosts => ["localhost:9200"]
    index => "prueba_script"
  }
  stdout{codec => rubydebug}
}